<h1> hello {{request.user.username}}</h1>
<a href="accounts/logout">logout</a>
<h2>
    <a href="create">create mock test</a><br>
    <a href="a">attendance</a><br>
    <a href="sc">interaction with teacher</a><br>
    <a href="xc">Submissions of asignments</a><br>
    <a href="asa">assignments</a>
</h2>
<h1>the quiz u created are registered with the key u created update data if u want</h1>{%for i in f%}{{i}}
<a href=" u/{{i.id}} ">update</a>
<a href="delete/{{i.id}} ">delete</a><br>{%endfor%}
<br>
<h1>the leader board for quiz u participated are</h1><br>{% for i in kel%} {{i}}
<a href="see/{{xq}} ">see my result</a>
<br>{%endfor%}